# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: PR

on:
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CMAKE_GENERATOR: Ninja

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [clang, gcc]
        arch: [x86_64]

    steps:
    - uses: actions/checkout@v4

    - name: Install compilers
      run: |
        sudo apt-get update -y
        if [ "${{ matrix.compiler }}" = "clang" ]; then
          sudo apt-get install -y clang-18
        else
          sudo apt-get install -y gcc-13 g++-13
        fi

    - name: Install Conan
      run: pipx install conan

    - name: Install dependencies
      run: conan install . --profile:build=${{github.workspace}}/profiles/${{ matrix.compiler }}_${{ matrix.arch }} --profile:host=${{github.workspace}}/profiles/${{ matrix.compiler }}_${{ matrix.arch }} --output-folder=${{github.workspace}}/build --build=missing -s build_type=${{env.BUILD_TYPE}}

    - name: Normalize build type to lowercase
      id: vars
      run: |
        echo "build_type_lc=${BUILD_TYPE,,}" >> $GITHUB_OUTPUT

    - name: Configure CMake
      # Build your program with the given configuration
      run: |
        source ${{github.workspace}}/build/conanbuildenv-${{ steps.vars.outputs.build_type_lc }}-${{ matrix.arch }}.sh 
        cmake -B ${{github.workspace}}/build -G ${{env.CMAKE_GENERATOR}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}/build/conan_toolchain.cmake

    - name: Build all targets
      # Build your program with the given configuration
      run: |
        source ${{github.workspace}}/build/conanbuildenv-${{ steps.vars.outputs.build_type_lc }}-${{ matrix.arch }}.sh 
        cmake --build ${{github.workspace}}/build --parallel $(nproc) --target all

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        source ${{github.workspace}}/build/conanbuildenv-${{ steps.vars.outputs.build_type_lc }}-${{ matrix.arch }}.sh 
        ctest --output-on-failure --timeout 360

